<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/styleweb.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-sm-12 col-md-1 text-center"><img src="https://i.pinimg.com/originals/94/84/41/9484419af82e0a81356f725d9ce68d52.jpg" alt="Logo" height="64" width="auto"></div>
            <div class="col-sm-18 col-md-8 text-left"> <h2 style="color:darkblue; font-weight:bold"> WEBSITE HỔ TRỢ XÂY DỰNG CẤU HÌNH PC</h2></div>
        </div>
    </div>
    <div class="container">
        <ul class="nav">
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li>
                <a href="@Url.Action("Ranking","Home")">Bảng xếp hạng</a>
            </li>
            <li><a href="@Url.Action("Build1","Home")">Xây dựng PC</a></li>
            <li><a href="@Url.Action("Build2","Home")">Gợi ý cấu hình PC</a></li>
            <li>
                <a href="@Url.Action("Check","Home")">Kiểm tra PC</a>
                @*<ul class="sub-menu">
                    <li><a href="@Url.Action("CheckPC","Home")">Check PC</a></li>
                    <li><a href="@Url.Action("CheckRM","Home")">Ram vs Mainboard</a></li>
                    <li><a href="@Url.Action("CheckCM","Home")">CPU vs Mainboard</a></li>
                    <li><a href="@Url.Action("CheckGM","Home")">GPU vs Mainboard</a></li>
                    <li><a href="@Url.Action("CheckCP","Home")">CPU vs GPU</a></li>
                </ul>*@
            </li>
            <li><a href="@Url.Action("Nangcap","Home")">Hỗ trợ nâng cấp</a></li>
            <li>
                <a href="@Url.Action("Quanly","Home")">Quản lý</a>
                @*<ul class="sub-menu">
                    <li><a href="@Url.Action("Quanly","Home")">RAM</a></li>
                    <li><a href="@Url.Action("QLCPU","Home")">CPU</a></li>
                    <li><a href="@Url.Action("QLGPU","Home")">GPU</a></li>
                    <li><a href="@Url.Action("QLCasePC","Home")">CasePC</a></li>
                    <li><a href="@Url.Action("QLNguon","Home")">Nguồn</a></li>
                    <li><a href="@Url.Action("QLMainboard","Home")">Mainboad</a></li>
                    <li><a href="@Url.Action("QLHDD","Home")">Ổ cứng</a></li>
                </ul>*@
            </li>
        </ul>




    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <hr width="80%" size="10px" align="center" />




    <div class="container" style="background-color:#0080C0; color:white">
        <div class="container2" style="background-color:dodgerblue">
            <div class="col-xs-12 col-sm-4 col-md-8">
                <h4 style="font-weight:bold">ĐỒ ÁN CHUYÊN NGÀNH</h4>
                <hr />
                <ul class="list-unstyled quick-links">
                    <li>Đề tài : Website hỗ trợ xây dựng cấu hình PC</li>
                    <li>Lớp : SE112.I21 - 07/2018</li>
                    <li></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h4>DANH SÁCH THÀNH VIÊN</h4>
                <hr />
                <ul class="list-unstyled quick-links">
                    <li>TRẦN QUANG THIÊN</li>
                    <li>NGUYỄN PHI HOÀNG VŨ</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer -->
</body>
</html>
